[loggers]
keys=root,mymt5

[handlers]
keys=console,appHandler,errorHandler

[formatters]
keys=std

[logger_root]
level=INFO
handlers=console

[logger_mymt5]
level=INFO
handlers=appHandler,errorHandler
qualname=mymt5
propagate=0

[handler_console]
class=StreamHandler
level=INFO
formatter=std
args=(sys.stdout,)

[handler_appHandler]
class=logging.handlers.RotatingFileHandler
level=INFO
formatter=std
args=('logs/app.log','a',10485760,5)

[handler_errorHandler]
class=logging.handlers.RotatingFileHandler
level=ERROR
formatter=std
args=('logs/errors.log','a',10485760,5)

[formatter_std]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s)


